<style>
    @import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
    </style>
<div class="row">
    <div class="col-1">
        <h1>Start Investing..... <i class="fas fa-heart"></i></h1>

            
            <br>
            <p>
                Commission-free investing, plus the tools you need to put your money in motion. Sign up and get your first stock for free. Certain limitations apply.
            </p>
            <br>
            <a [routerLink]="['/stock']" class="btn btn-info" style="margin:10px" >Stocks</a>
            <a [routerLink]="['/mutual']" class="btn btn-info" style="margin:10px">Mutual Funds</a>
            

    </div>
    <div class="col-2">
        <img src="https://www.paytmmoney.com/stocks/static/images/landing/stocks-illustration.svg">
    </div>
</div>