<style>
    @import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
    </style>
<div class="row">
    <div class="col-2">
        <h1>Investing for Everyone<br></h1>

            
            <br>
            <p>
                Commission-free investing, plus the tools you need to put your money in motion. Sign up and get your first stock for free. Certain limitations apply.
            </p>
            <br>
            <a [routerLink]="['/register']" class="btn btn-success" >Get Started</a>
            

    </div>
    <div class="col-2">
        <img src="https://www.thebalance.com/thmb/vLGyqhh1AiCRvUoHvxwlCZ3gBpA=/2120x1414/filters:fill(auto,1)/businessman-using-a-mobile-phone-to-check-stock-market-data--1071244296-f01132df481f4f738d9c9ed013ffd74e.jpg">
    </div>
</div>