.row
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2
{
    flex-basis: 50%;
    min-width: 350px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
    border-radius: 70px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);

}.img
{
    border-radius: 30px;
}
.col-2 h1{
 font-size: 50px;
 line-height: 60px;
 margin:26px 0;
 font-family: 'Mate SC', serif;


}

p{
    color: black;
    font-size:18px;
    font-family: 'Mate SC', serif;
 }
 .btn
 {
    /* background-color:rgb(24, 102, 36); */
    font-weight: bold;
    color: aliceblue;
    width: 170px;
    height: 40px;
    transition:0.5s;
    
    text-align: center;
 }